{
  "parser": "@babel/eslint-parser",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Promise": true,
    "require": true,
    "module": true
  },
  "rules": {
    "no-console": 0
  }
}
